Student Affaris System/Student Affaris System/Web References/StudentsAffairsSystemServer/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/StudentsAffairsSystemServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StudentsAffairsSystemServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfInformationTeacher">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InformationTeacher" nillable="true" type="tns:InformationTeacher" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInformationTeacher" nillable="true" type="tns:ArrayOfInformationTeacher" />
  <xs:complexType name="InformationTeacher">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContactNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Department" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InformationTeacher" nillable="true" type="tns:InformationTeacher" />
  <xs:complexType name="ArrayOfInformationStudent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InformationStudent" nillable="true" type="tns:InformationStudent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInformationStudent" nillable="true" type="tns:ArrayOfInformationStudent" />
  <xs:complexType name="InformationStudent">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContactNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Department" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegisterationNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Section" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StudentCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InformationStudent" nillable="true" type="tns:InformationStudent" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
</xs:schema>